@import "./colors.module.scss";

.navOption,
.navIcon,
.formButton {
  font-size: 0.9rem;
}

.linkButton {
  font-size: 0.9rem;
  text-decoration: none;
  color: inherit;
}

.descriptionSize {
  font-size: 1rem;
}

.labelSize {
  font-size: 0.8rem;
  color: $text-dark-gray;
}
