@import "../../../styles/text.module.scss";

.content {
  height: 100%;
  width: 100%;
  padding: 3rem;
  background-color: $background-section;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  div {
    width: 80%;
  }

  .title {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .line {
        width: 1rem;
        border-bottom: solid 2px $line-info;
      }

      .icon {
        font-size: 1.2rem;
      }
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .button {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 7rem;
  }

  .buttonBottom {
    padding-top: 2rem;
    padding-right: 5%;
    display: flex;
    justify-content: flex-end;
    width: 95%;
    border-top: solid 2px $line-info;
  }
}
